# Ignore everything
**

# Whitelist specific app subdirectories
!app/services/*.py
!app/api/*.py
!app/core/__init__.py
!app/core/paths.py
!app/core/utils.py
!app/static/**

# Whitelist models
!models/bert-base-german-cased/*
models/bert-base-german-cased/checkpoint-*

# Allow config & dependencies
!requirements.txt
!pyproject.toml
!uv.lock
!Dockerfile
!config.yaml
