# Python cache
__pycache__/
app/__pycache__/
app/*/__pycache__/
*.pyc

# Metaflow metadata
app/.metaflow

# Models
app/models/
models/
app/models*

# Data
app/data/processed/raw_data.csv
app/data/processed/synthetic_data.csv
app/data/raw/
app/data/synthetic/
optuna_studies.db

# Notebooks / temporary files
*.ipynb_checkpoints
sandbox/
evaluation_results_20251204_213215.json

# OS / editor files
.DS_Store
.readme.md
.vscode/
config.yaml

# Bugs related files
"Icon\r"
"app/Icon\r"
"app/api/Icon\r"
"app/core/Icon\r"
"app/data/Icon\r"
"app/data/processed/Icon\r"
"app/notebooks/Icon\r"
"app/sampler/Icon\r"
"app/services/Icon\r"
"app/static/Icon\r"
