# Python cache
__pycache__/
app/__pycache__/
app/src/__pycache__/

# Metaflow metadata
app/.metaflow

# Models
app/models/
models/
app/models*

# Data
app/data/raw/
app/data/synthetic/
optuna_studies.db

# Notebooks / temporary files
*.ipynb_checkpoints
sandbox/

# OS / editor files
.DS_Store
.readme.md
.vscode/
